/*

Contents
================================

1. Navigation
2. Hero Section
3. Flavours
4. Page
5. Footer
6. Shared Styles
	a. extends
	b. fonts

================================

*/


// 1. Navigation
// --------------------------------------------------


.nav{
	margin-top: 1em;
}

.n-logo{
	
	@include opacity(50);
	img{
		width:3em;	
	}
}


.n-menu{
	float:right;
	list-style:none;
	margin-top: 1.2em;

	li{
		display:inline-block;
		margin-left: 1.2em;
	}

	a{
		color: $gray;
	}
}

@media (max-width: 46em) {

	.nav{
		padding: 0 20px;	
	}

}

// 2. Hero Section
// --------------------------------------------------

.hero{
	padding:5em 0;
	border-bottom: 10px solid desaturate($pinkRose, 20%);
}

.h-title{
	font-family: 'Stalemate';
	font-size: 12em;
	text-align: center;
	@extend .white;
	margin-bottom: 0.6em;
	margin-top: 0.5em;
}

.h-slogan{
	text-align:center;
	font-size: 1.5em;
	line-height: 1.5em;

	@extend .white;
	a{
		@extend .white;
		text-decoration:underline;
	}
}

.h-button{
	text-align:center;
	margin:2em 0 -1em 0;

	a{
		@extend .white;
		padding: 0.5em 0.7em;
		background-color: desaturate($pinkRose, 20%);
		font-size: 1.4em;
		@include transition(0.3s ease);

		&:hover{
			text-decoration: none;
			color: desaturate($pinkRose, 20%);
			background-color: $white;
		}
	}
	
}

@media (max-width: 30em) {

	.hero{
		padding:4em 0;
	}

	.h-title{
		font-size: 7em;
		margin: 0.2em 0 0.6em 0;
	}

	.h-slogan{
		font-size:1.1em;
	}
}


// 3. Flavours
// --------------------------------------------------

.flavour{

	text-align:center;

}

.flavour header{
	font-size: 2em;
	padding: 1.5em 0 0.7em 0;
}

.flavour span{
	font-size: 1.1em;
	color : $grayLight;
}

@media (max-width: 30em) {

	.flavour{
		padding: 0 20px;	
	}

}

// 6. Shared Styles
// --------------------------------------------------

body{
	background-color: #fffcf5;
}

::-moz-selection {
	color: #fff;
	text-shadow: none;
	background: #778da8;
}

::selection {
	color: #fff;
	text-shadow: none;
	background: #778da8;
}



// 6.a Extends
// --------------------------------------------------


.white{
	color: $white;
}


// 6.b Fonts
// --------------------------------------------------

@font-face {
  font-family: 'Stalemate';
  font-style: normal;
  font-weight: 400;
  src: local('Stalemate'), local('Stalemate-Regular'), url(http://themes.googleusercontent.com/static/fonts/stalemate/v1/ILXfSNYxooD2TPt48NlaPz8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}