<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8"/>
		<title>{% if page.title %} {{ page.title }} {% endif %} - Main website name</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- responsive site -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> <!-- chrome frame -->
		<meta name="viewport" content="user-scalable=no"> <!-- prevents browser zoom on small devices -->
		<link rel="author" href="humans.txt">
		<meta name="description" content="Description Goes Here" />
		<link rel="stylesheet" href="/css/style.css">	
	    <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
		<link rel="apple-touch-icon-precomposed" sizes="144x144" href="ico/apple-touch-icon-144-precomposed.png">
		<link rel="apple-touch-icon-precomposed" sizes="114x114" href="ico/apple-touch-icon-114-precomposed.png">
		<link rel="apple-touch-icon-precomposed" sizes="72x72" href="ico/apple-touch-icon-72-precomposed.png">
		<link rel="apple-touch-icon-precomposed" href="ico/apple-touch-icon-57-precomposed.png">
		<link rel="shortcut icon" href="ico/favicon.png">	    
	</head>
	<body>

    <nav role="navigation">
    </nav>

	<header role="banner">

	</header>

	{{ content }}

	<footer role="contentinfo">

	</footer>

	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script>if (!window.jQuery) {document.write('<script src="js/jquery.min.js"><\/script>');}</script>
	<script src="/js/custom.js"></script>

    <script>
		// analytics code
    </script>	
	</body>
</html>