
// Responsive
// For phone and tablet devices
// -------------------------------------------------------------


// REPEAT VARIABLES & MIXINS
// -------------------------
// Required since we compile the responsive stuff separately

@import "variables"; // Modify this for custom colors, font-sizes, etc
@import "mixins";


// RESPONSIVE CLASSES
// ------------------

@import "responsive-utilities";


// MEDIA QUERIES
// ------------------

// Large desktops
@import "responsive-1200px-min";

// Tablets to regular desktops
@import "responsive-768px-979px";

// Phones to portrait tablets and narrow desktops
@import "responsive-767px-max";


// RESPONSIVE NAVBAR
// ------------------

// From 979px and below, show a button to toggle navbar contents
@import "responsive-navbar";
