//
// Responsive: Landscape phone to desktop/tablet
// --------------------------------------------------


@media (max-width: 48em) {

  .container {
    width: auto;
  }
  .row-fluid {
    width: 100%;
  }

  [class*="span"],
  .row-fluid [class*="span"] {
    float: none;
    display: block;
    width: 100%;
    margin-left: 0;
    @include box-sizing(border-box);
  }
 
}



// UP TO LANDSCAPE PHONE
// ---------------------

@media (max-width: 30em) {


}
